<div class="container">

    <mat-grid-list cols="3" gutterSize="100px" rowHeight="100px">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="4:2">
        <mat-grid-tile>2.1</mat-grid-tile>
        <mat-grid-tile>2.2</mat-grid-tile>
        <mat-grid-tile>2.3</mat-grid-tile>
        <mat-grid-tile>2.4</mat-grid-tile>
    </mat-grid-list>
</div>