<div class="container">

    <p> Some text</p>
    <mat-divider></mat-divider>
    <p> Some other text</p>
    <mat-divider></mat-divider>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>The Panel Title</mat-panel-title>
            <mat-panel-description>
                This is the Panel Description
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is some main data which we will see upon expansion.</p>
        <mat-action-row>
            <button mat-button>Click here</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>The second title</mat-panel-title>
            <mat-panel-description>The second Description</mat-panel-description>
        </mat-expansion-panel-header>
        <p> Some basic text.</p>
    </mat-expansion-panel>
</mat-accordion>
